.idea
.vscode
.VSCodeCounter
*.sh
mongo
timescaledb
node_modules/
docs/architecture
docs/reviews
docs/todo
docs/frontend
docs/timescale
client/coverage/
HW6b_Docs/Issue-2626_Docs/
HW6b_Docs/Issue-923_Docs/notes-923.txt
HW6b_Docs/Issue-923_Docs/roadmap-923.txt